.tt {
    position   : absolute;
    display    : block
    }

.ttcont {
    display    : block;
    padding    : 2px 12px 3px 7px;
    margin-left: 5px;
    background : #666;
    color      : #FFF
    }

